/* ALL APP RELEVANT LESS */

// No-padding styles
.no-padding-left {
  padding-left:0px;
}
.no-padding-right {
  padding-right:0px;
}

.no-transition {
    transition: none !important;
}

.notification-wrapper.killed {
    z-index: -2000;
}
