// Layout large
@media screen and (min-width: $widthLarge) {

// Header is bigger in Desktop-Mode
.header {
  height: 60px;

  .header-title {
    top:10px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    h2 {
      font-size: $fontSizeBase * 1.6;
    }
  }
  .menu-nav {
    width:auto;
    .lang-selector {
      padding:15px 0px 0px 10px;

      text-align: right;
      span {
        @include menuDarkLinks();
        font-size: $fontSizeBase * 1.2;
        vertical-align: text-bottom;
        .is-active {
          display:none;
          visibility: hidden;
        }
      }
    }
    .menu-opener {
      display:none !important;
    }
  }

  .mainlogo {
    top:5px;
    right:30px;
    p {
      font-size:$fontSizeBase * 1.6;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

}

.article {
  .map-nav {
    top:120px;

    .search-open {
      width:25vw;
    }
  }
}

// Left slider is always open
.wrapper-inner {

  .position-left {
    padding-top:80px;
    left: $menuOffset !important;

    .top-menu {
      display:none !important;
    }

    .intro-row {
      margin: 0;

      padding-bottom:50px;
    }
  }
}

// Content-wrapper needs to be shifted to the right for desktop mode
.content-wrapper {
  width:calc(100vw - $menuOffset);
  margin-left:$menuOffset;

  // content pages
  .contentpage {
      margin-top:80px;
      padding-left:20px;
      height: calc(100vh - 80px) !important;

      .nav-close {
        right:30px;
      }
  }

}

// Notifications


.notification-wrapper {
  width:25%;
}





 } // END Wide Layout
