// Medium Layout
@media screen and (min-width: $widthSmall) and (max-width: $widthLarge)  {

.header {
  .menu-nav {
    .lang-selector {
      display: none !important;
    }
  }
}

// map
.map {
  .infobox {
    li {
      font-size:$fontSizeBase * 1.1;
      padding:5px 0px 5px 0px;
    }
  }
}
// end map


// Start glossary
.contentglossary {

    dl {
      width:100% !important;
      padding-right:10px !important;
  }
}
// end glossary

// start imprint
.contentimpressum {
  .section, .partner-logo {
    .section-item, .logo-item {
      width:100% !important;
      padding-right:10px !important;
    }
  }
}
// end imprint



 } // END Medium Layout
