// Small Layout
@media screen and (max-width: $widthSmall)  {

  // Header
  .header {
    .menu-nav {
      .lang-selector {
        display: none !important;
      }
    }
  }


  // Notifications
  .notification-wrapper {
    width:100%;
  }
  // Ende Notfications

  // Start mainnav
  .mainnav {
      font-size:$fontSizeBase * 1;
  }

  // history
  .history-item {
    .logo-gemeinde {

      width:28px !important;
    }
  }

  // end history


  // Start glossary
  .contentglossary {

      dl {
        width:100% !important;
        padding-right:10px !important;
    }
  }
  // end glossary


 } // END Medium Layout
