// Small Layout
@media screen and (max-width: $widthSmall)  {

  // Header 
  .header {
    .menu-nav {
      .lang-selector {
        display: none !important;
      }
    }
  }


  // Notifications
  .notification-wrapper {
    width:100%;
  }
  // Ende Notfications

  // Start mainnav
  .mainnav {
      font-size:$fontSizeBase * 1;
  }


 } // END Medium Layout
