<p class="show-for-sr">
  <a href="#mainContent" class="show-on-focus">{{ 'jump_content' | translate }}</a>
  <a href="#mainNav"  class="show-on-focus">{{ 'jump_menu' | translate }}</a>
</p>
<div id="site-container" class="site-wrapper">
    <div class="wrapper-inner">

        <div ui-view></div>


        <div class="content-wrapper">
            <header class="header">
                <div data-sticky-container class="header-sticky-container">
                    <div data-sticky data-anchor="site-container" data-sticky-on="small" data-margin-top="0" class="header-sticky">
                        <a href="/" title="Zum Eingang" class="mainlogo">
                            <img src="/assets/images/logo_dot_oereb.svg" title="OEREB Logo">
                            <p>
                                <span class="oereb-title">{{'title'|translate}}</span><span class="show-for-medium">{{ 'subtitle' | translate }}</span>
                            </p>
                        </a>
                        <div class="menu-nav">
                            <button id="buttonShowExtract" data-toggle="menuLeftSlider" aria-controls="menuLeftSlider"
                                    class="button svg-icon btnOpenMenu">
                                <svg class="icon icon-menu">
                                    <use xlink:href="#icon-menu"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="header-logo">
                          <div ng-if="main.extract.data.MunicipalityLogo" style="background-image:url('{{main.extract.data.MunicipalityLogo}}')"
                               class="logo-gemeinde"></div>
                          <div ng-if="!main.extract.data.MunicipalityLogo" style="background-image:url('/assets/images/gde_dummy.png')"
                                    class="logo-gemeinde"></div>
                          <div style="background-image:url('/assets/images/kanton_be.png')"
                               class="logo-kanton"></div>
                          <div style="background-image:url('/assets/images/bund_wappen.png')"
                               class="logo-bund"></div>
                        </div>
                    </div>
                </div>
            </header>
            <article class="article">
                <div class="row">
                    <div class="small-12">

                        <map></map>

                    </div>
                </div>
                <div class="theme-map theme-1" style="display:none"><img src="/assets/images/theme_example.png"></div>

                <!-- [bs][todo] Beim Click auf den Restriction slider, sollte das Hauptmenü verschwinden, eventuell auch gleich die Suchbox -->
                <restriction class="animated pulse" ng-show="main.extract.restrictionLength > 0" ng-class="{'opened animated slideInUp': main.toggleRestriction}"></restriction>

                <!-- *********** START CONTENT PAGE SECTIONS *********** -->
                <!-- CONTENT: Impressum -->
                <section id="content_impressum">
                  <div class="row">
                    <div class="columns small-12">
                      <h1>Impressum und Rechtliches</h1>
                      <h2>Impressum</h2>
                      <h3>Inhaltliche Verantwortung</h3>
                      <address>
                        Bau-, Verkehrs- und Energiedirektion des Kantons Bern
                      </address>
                      <h3>Usability</h3>
                        <address>
                          uFive
                        </address>
                      <h3>Gestaltung und Screendesign</h3>
                        <address>
                          Sturm und Bräm GmbH
                        </address>
                      <h3>Technische Realisierung</h3>
                      <address>
                        novu GmbH
                      </address>
                      <h2>Rechtliches</h2>
                      <p>Teile dieser Applikation unterliegen den folgenden Lizenzen</p>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Impressum -->
                <!-- CONTENT: Glossary -->
                <section id="content_glossar">
                  <div class="row">
                    <div class="columns small-12">
                      <h1>Glossar</h1>
                      <dl>
                        <dt>Abgrenzungen</dt>
                        <dd>Die Abgrenzungen erfolgen immer im Rahmen des kantonalen Richtplanes und stellen verbindliche Parzellengrenzen dar.</dd>
                        <dt>ÖREB-Kataster</dt>
                        <dd>Öffentlich-rechtliche Eigentumsbeschränkungen: siehe auch <a href="http://www.cadastre.ch" class="external-link">www.cadastre.ch</a></dd>
                      </dl>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Glossary -->
                <!-- CONTENT: Themenbereiche -->
                <section id="content_themes">
                  <div class="row">
                    <div class="columns small-12">
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Themenbereiche -->
                <!-- CONTENT: Other content -->
                <section id="content_info">
                  <div class="row">
                    <div class="columns small-12">
                      <h1>Was ist die ÖREB?</h1>
                      <p>Wer in der Schweiz Land besitzt, kann dieses nicht einfach so nutzen, wie er will. Es gilt Rahmenbedingungen einzuhalten, die aufgrund von Entscheidungen des Gesetzgebers oder der Behörden entstanden sind. Diese sogenannten öffentlich-rechtlichen Eigentumsbeschränkungen (kurz ÖREB) sind für Grundeigentümerinnen und Grundeigentümer verpflichtend.</p>
                      <p>Mit dem sich im Aufbau befindenden Kataster der öffentlich-rechtlichen Eigentumsbeschränkungen (ÖREB-Kataster) werden relevante Informationen über Grundstücke leicht verfügbar. Zudem wird die Rechtssicherheit dank verbindlicher Informationen erhöht. Davon profitieren sowohl Grundstückbesitzer, als auch die verschiedenen Akteure des Immobilienmarktes, Behörden und öffentliche Verwaltungen.</p>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Other content -->
                <!-- *********** END CONTENT PAGE SECTIONS *********** -->
            </article>
            <footer class="footer"></footer>

            <notifications></notifications>

            <loading></loading>
        </div>
    </div>
</div>
