<p class="show-for-sr"><a href="#mainContent" class="show-on-focus"></a>Zum Inhalt springen<a href="#mainNav"
                                                                                              class="show-on-focus"></a>Zur
    Navigation springen</p>
<div id="site-container" class="site-wrapper">
    <div class="wrapper-inner">
        <aside id="menuLeftSlider" data-toggler data-animate="slide-in-left slide-out-left"
               class="position-left ease-in-out">
            <nav id="mainNav" class="mainnav mobile clearfix">
                <div class="row top-menu">
                    <div class="small-9"><span> <a ng-click="main.changeLanguage('de')" href="#" class="is-active">Deutsch</a></span><span> <a ng-click="main.changeLanguage('fr')" href="#">Français</a></span>
                    </div>
                    <div class="small-3">
                        <button type="button" role="button" aria-label="Toggle Navigation" data-toggle="menuLeftSlider"
                                aria-controls="menuLeftSlider" class="button svg-icon menu-close">
                            <svg class="icon icon-cross">
                                <use xlink:href="#icon-cross"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <ul data-accordion-menu class="menu vertical">
                    <li class="top-item accordion-navigation"><a href="#">
                        <button class="button submenu svg-icon">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus">
                                <use xlink:href="#icon-minus"></use>
                            </svg>
                        </button>
                        <p class="name">Gemeinde Bern (841)</p>
                        <p class="egrid">CH299978329106</p>
                        <p class="timestamp">15. März 2016 15:05:16</p></a>
                        <ul class="menu vertical nested">
                            <li>
                                <div class="row">
                                    <div class="small-6 oereb-label">Grundstück-Nr:</div>
                                    <div class="small-6 oereb-value">AU7046</div>
                                </div>
                                <div class="row">
                                    <div class="small-6 oereb-label">Fläche des Grundstücks:</div>
                                    <div class="small-6 oereb-value">1711.2m2</div>
                                </div>
                                <div class="row">
                                    <div class="small-6 oereb-label">EGRID:</div>
                                    <div class="small-6 oereb-value">CH299978329106</div>
                                </div>
                                <div class="row">
                                    <div class="small-6 oereb-label">Geneinde:</div>
                                    <div class="small-6 oereb-value">Bern (841)</div>
                                </div>
                                <div class="row">
                                    <div class="small-6 oereb-label">Auszugsnummer:</div>
                                    <div class="small-6 oereb-value">eb78b1b7-57fc-4ba7-b133-839d43d76111</div>
                                </div>
                                <div class="row more-info">
                                    <div class="small-12">
                                        <svg class="icon icon-file">
                                            <use xlink:href="#icon-file"></use>
                                        </svg>
                                        <a href="#" title="PDF herunterladen">Auszug als PDF herunterladen (PDF,
                                            4MB)</a>
                                    </div>
                                </div>
                                <div class="row more-info">
                                    <div class="small-12">
                                        <svg class="icon icon-map">
                                            <use xlink:href="#icon-map"></use>
                                        </svg>
                                        <a href="#" title="Karte im Geoportal">Grundstück im Kartenportal</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="accordion-navigation"><a href="#">
                        <button class="button submenu svg-icon">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus">
                                <use xlink:href="#icon-minus"></use>
                            </svg>
                        </button>
                        Das Grundstück betreffende ÖREB-Themen</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Zonenplan - Grundnutzungen<span
                                    class="success badge float-right">&nbsp;</span></a></li>
                            <li><a href="#">Zonenplan - Überlagernde Nutzungsplaninhalte</a></li>
                            <li><a href="#">Baulinien (kantonal / kommunal)</a></li>
                            <li><a href="#">KbS im Bereich des öffentlichen Verkehrs</a></li>
                        </ul>
                    </li>
                    <li class="accordion-navigation"><a href="#">
                        <button class="button submenu svg-icon">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus">
                                <use xlink:href="#icon-minus"></use>
                            </svg>
                        </button>
                        Das Grundstück nicht betreffende ÖREB-Themen</a>
                        <ul class="menu vertical nested">
                            <li><a href="">Projektierungszonen Nationalstrassen</a></li>
                            <li><a href="">Projektierungszonen Eisenbahnanlagen</a></li>
                            <li><a href="">Baulinien Eisenbahnanlagen</a></li>
                            <li><a href="">Projektierungszonen Flughafenanlagen</a></li>
                            <li><a href="">Baulinien Flughafenanlagen</a></li>
                            <li><a href="">Sicherheitszonenplan bei Flughäfen</a></li>
                            <li><a href="">Kataster der belasteten Standorte im Bereich der zivilen Flugplätze</a></li>
                            <li><a href="">Kataster der belasteten Standorte im Bereich des öffentlichen Verkehrs</a>
                            </li>
                            <li><a href="">Grundwasserschutzzonen</a></li>
                            <li><a href="">Grundwasserschutzareale</a></li>
                        </ul>
                    </li>
                    <li class="accordion-navigation"><a href="#">
                        <button class="button submenu svg-icon">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus">
                                <use xlink:href="#icon-minus"></use>
                            </svg>
                        </button>
                        Nicht vorhandene ÖREB-Themen</a>
                        <ul class="menu vertical nested">
                            <li><a href="">Kommunale Nutzungsplanung</a></li>
                            <li><a href="">Kataster der belasteten Standorte im Bereich des Militärs</a></li>
                        </ul>
                    </li>
                    <li class="accordion-navigation history-item"><a href="#">
                        <button class="button submenu svg-icon">
                            <svg class="icon icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus">
                                <use xlink:href="#icon-minus"></use>
                            </svg>
                        </button>
                        Letzte betrachtete Grundstücke <span class="secondary badge">2</span></a>
                        <ul class="menu vertical-nested">
                            <li><a href="">
                                <div style="background-image:url('/assets/images/gde_engelberg.png')"
                                     class="logo-gemeinde"></div>
                                Liegenschaft Nr. 1426, Obwalden, Gemeinde Engelberg<span class="history-date">12. Dezember 2015</span></a>
                            </li>
                            <li><a href="">
                                <div style="background-image:url('/assets/images/gde_bern.jpeg')" class="logo-gemeinde"></div>
                                Liegenschaft Nr. 846, Bern, Gemeinde Bern<span class="history-date">15. März 2016</span></a>
                            </li>
                            <li><a href="#" class="copy-clipboard">
                                <svg class="icon icon-inbox listicon">
                                    <use xlink:href="#icon-inbox"></use>
                                </svg>
                                Grundstücke in die Zwischenablage kopieren</a></li>
                        </ul>
                    </li>
                    <li><a href="">Themenbereiche</a></li>
                    <li><a href="">Glossar</a></li>
                    <li><a href="">Rechtliches und Impressum</a></li>
                </ul>
            </nav>
        </aside>

        <div class="content-wrapper">
            <header class="header">
                <div data-sticky-container class="header-sticky-container">
                    <div data-sticky data-anchor="site-container" data-sticky-on="small" data-margin-top="0"
                         class="header-sticky"><a href="/" title="Zum Eingang" class="mainlogo"><img
                            src="/assets/images/logo_dot_oereb.svg" title="OEREB Logo">
                        <p><span class="oereb-title">ÖREB</span> {{ 'subtitle' | translate }}</p>
                        <div class="provider-logo"><img src="/assets/images/kanton_be.png" title="Der Kanton Bern"></div>
                    </div>
                </div>
            </header>
            <article class="article">
                <div class="row">
                    <div class="small-12">

                        <map></map>

                    </div>
                </div>
                <div class="theme-map theme-1" style="display:none"><img src="/assets/images/theme_example.png"></div>
                <div id="themeBottomSlider" role="region" data-use-m-u-i="true" aria-label="Themenansicht" data-orbit
                     data-auto-play="false" class="orbit position-bottom slider-inactive">
                    <ul class="orbit-container">
                        <li class="orbit-slide">
                            <h3 class="text-center slide-title">Lärmempflindlichkeitsstufen (in Nutzungszonen)</h3>
                            <ul data-accordion-menu class="menu vertical theme-list">
                                <li class="top-item accordion-navigation"><a href="#">
                                    <button class="button submenu svg-icon">
                                        <svg class="icon icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg>
                                        <svg class="icon icon-minus">
                                            <use xlink:href="#icon-minus"></use>
                                        </svg>
                                    </button>
                                    <div class="row">
                                        <div class="small-6">
                                            <p class="name">Gemeinde Bern (841)</p>
                                            <p class="egrid">CH299978329106</p>
                                        </div>
                                        <div class="small-6 clearfix">
                                            <div style="background-image:url('/assets/images/gde_bern.jpeg')"
                                                 class="logo-gemeinde"></div>
                                            <div style="background-image:url('/assets/images/kanton_be.png')"
                                                 class="logo-kanton"></div>
                                            <div style="background-image:url('/assets/images/bund_wappen.png')"
                                                 class="logo-bund"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12">
                                            <p class="timestamp">15. März 2016 15:05:16</p>
                                        </div>
                                    </div>
                                </a>
                                    <ul class="menu vertical nested">
                                        <li>
                                            <div class="row">
                                                <div class="small-6 oereb-label">Grundstück-Nr:</div>
                                                <div class="small-6 oereb-value">AU7046</div>
                                            </div>
                                            <div class="row">
                                                <div class="small-6 oereb-label">Fläche des Grundstücks:</div>
                                                <div class="small-6 oereb-value">1711.2m2</div>
                                            </div>
                                            <div class="row">
                                                <div class="small-6 oereb-label">EGRID:</div>
                                                <div class="small-6 oereb-value">CH299978329106</div>
                                            </div>
                                            <div class="row">
                                                <div class="small-6 oereb-label">Geneinde:</div>
                                                <div class="small-6 oereb-value">Bern (841)</div>
                                            </div>
                                            <div class="row">
                                                <div class="small-6 oereb-label">Auszugsnummer:</div>
                                                <div class="small-6 oereb-value">eb78b1b7-57fc-4ba7-b133-839d43d76111
                                                </div>
                                            </div>
                                            <div class="row more-info">
                                                <div class="small-12">
                                                    <svg class="icon icon-file">
                                                        <use xlink:href="#icon-file"></use>
                                                    </svg>
                                                    <a href="#" title="PDF herunterladen">Auszug als PDF herunterladen
                                                        (PDF, 4MB)</a>
                                                </div>
                                            </div>
                                            <div class="row more-info">
                                                <div class="small-12">
                                                    <svg class="icon icon-map">
                                                        <use xlink:href="#icon-map"></use>
                                                    </svg>
                                                    <a href="#" title="Karte im Geoportal">Grundstück im
                                                        Kartenportal</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="accordion-navigation"><a href="#">
                                    <button class="button submenu svg-icon">
                                        <svg class="icon icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg>
                                        <svg class="icon icon-minus">
                                            <use xlink:href="#icon-minus"></use>
                                        </svg>
                                    </button>
                                    Typ (Fläche, Anteil)</a>
                                    <ul class="menu vertical nested is-active">
                                        <li>
                                            <div class="row theme-key">
                                                <h3>Legende</h3><img src="/assets/images/key/laerm_bsp.png"
                                                                     alt="Legende zu den Lärmempflindlichkeitsstufen">
                                            </div>
                                            <div class="row">
                                                <div class="small-6 oereb-label"> Charakteristik:</div>
                                                <div class="small-6 oereb-value"> Lärmempfindlichkeitsstufe II (265m2)
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="accordion-navigation"><a href="#">
                                    <button class="button submenu svg-icon">
                                        <svg class="icon icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg>
                                        <svg class="icon icon-minus">
                                            <use xlink:href="#icon-minus"></use>
                                        </svg>
                                    </button>
                                    Rechtsvorschriften</a>
                                    <ul class="menu vertical nested">
                                        <li>
                                            <div class="row">
                                                <div class="small-6 oereb-label">Rechtsstatus:</div>
                                                <div class="small-6 oereb-value">Die Eigentumsbeschränkung ist in
                                                    Kraft
                                                </div>
                                            </div>
                                            <div class="row pdf-list">
                                                <svg class="icon">
                                                    <use xlink:href="#icon-file"></use>
                                                </svg>
                                                <a href="http://files.be.ch/bve/agi/oereb/94201/NPL61/204.pdf"
                                                   title="PDF">Zonenplan der Stadt Thun 1986 mit Bauordnung vom
                                                    30.09.1987</a>
                                            </div>
                                            <div class="row pdf-list">
                                                <svg class="icon icon-file">
                                                    <use xlink:href="#icon-file"></use>
                                                </svg>
                                                <a href="http://files.be.ch/bve/agi/oereb/94201/NPL61/219.pdf"
                                                   title="PDF">Bauordnung 1986, Änderung Art. 40, Abs. 4 Zone für
                                                    militärische Bauten und Anlagen M vom 21.02.1994</a>
                                            </div>
                                            <div class="row pdf-list">
                                                <svg class="icon icon-file">
                                                    <use xlink:href="#icon-file"></use>
                                                </svg>
                                                <a href="http://files.be.ch/bve/agi/oereb/94201/NPL61/233.pdf "
                                                   title="PDF">Plan der Lärmempfindlichkeitsstufen vom 28.09.2000 </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="orbit-slide">
                            <h3 class="text-center slide-title">Zonenplan - Grundnutzungen</h3>
                        </li>
                        <li class="orbit-slide">
                            <h3 class="text-center slide-title">Zonenplan - Überlagernde Nutzungsplaninhalte</h3>
                        </li>
                        <button id="themePrev" class="orbit-previous svg-icon"><span class="show-for-sr">Lärmempflindlichkeitsstufen (in Nutzungszonen)</span>
                            <svg class="icon icon-arrow-left">
                                <use xlink:href="#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button id="themeNext" class="orbit-next svg-icon"><span class="show-for-sr">Zonenplan - Überlagernde Nutzungsplaninhalte</span>
                            <svg class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </button>
                        <div class="toggler-center"><span>
                    <button id="themeBottomToggler" class="button svg-icon btnOpenThemeSlider">
                        <svg class="icon icon-arrow-up">
                            <use xlink:href="#icon-arrow-up"></use>
                        </svg>
                    </button></span></div>
                        <div class="row theme-bullets collapse">
                            <div class="align-justify column">
                                <nav class="orbit-bullets">
                                    <button data-slide="0"><span class="show-for-sr">Lärmempflindlichkeitsstufen (in Nutzungszonen)</span>
                                    </button>
                                    <button data-slide="1"><span class="show-for-sr">Zonenplan - Grundnutzungen</span>
                                    </button>
                                    <button data-slide="2"><span class="show-for-sr">Zonenplan - Überlagernde Nutzungsplaninhalt</span>
                                    </button>
                                </nav>
                            </div>
                        </div>
                    </ul>
                </div>
            </article>
            <footer class="footer"></footer>

            <notifications></notifications>

            <!-- Spinner and loader-->
            <div class="spinner-wrapper hide-todo">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <div class="sk-circle hide-todo">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>
</div>
