<p class="show-for-sr">
  <a href="#mainContent" class="show-on-focus">{{ 'jump_content' | translate }}</a>
  <a href="#mainNav"  class="show-on-focus">{{ 'jump_menu' | translate }}</a>
</p>
<header class="header">
    <div data-sticky-container class="header-sticky-container">
        <div data-sticky data-anchor="site-container" data-sticky-on="small" data-margin-top="0" class="header-sticky">


            <div class="menu-nav">
              <div class="lang-selector">

                  <svg class="icon icon-globe">
                      <use xlink:href="#icon-globe"></use>
                  </svg>

                  <span ng-click="main.changeLanguage('de')">
                      <a title="Deutsche Version" ng-class="{'is-active': main.isCurrentLanguage('de')}">Deutsch</a>
                  </span>
                  <span>
                      <a ng-click="main.changeLanguage('fr')" title="Version française"
                         ng-class="{'is-active': main.isCurrentLanguage('fr')}">Français</a>
                  </span>
              </div>




              <div class="menu-opener">
                <button id="buttonShowExtract" aria-controls="menuLeftSlider"
                        ng-click="main.toggleMenu()"
                        class="button svg-icon btnOpenMenu">
                    <svg class="icon" ng-class="{'icon-menu': !main.menuStatus, 'icon-cross': main.menuStatus}">
                        <use xlink:href="{{main.menuStatus?'#icon-cross':'#icon-menu'}}"></use>
                    </svg>
                </button>
                <p ng-if="!main.menuStatus" ng-click="main.toggleMenu()">{{'titleMainMenu' | translate }}</p>
                <p ng-if="main.menuStatus" ng-click="main.toggleMenu()">{{'titleMainMenuClose' | translate }}</p>
              </div>
            </div>
            <div ng-class="{'hidden': main.extract}" class="no-property show-for-medium header-title">
                <h2 class="hint">{{ 'no_property_loaded' | translate }}</h2>
            </div>
            <div ng-class="{'hidden': !main.extract}" class="show-for-medium header-title">
                <h2>{{"detailProperty" | translate}} {{main.extract.data.RealEstate.Number}} ({{main.extract.data.RealEstate.Municipality}})</h2>
            </div>
            <a ng-click="main.reloadPage()" title="Zum Eingang" class="mainlogo">
                <p><span class="oereb-title">{{'title'|translate}}</span><span class="show-for-medium">{{ 'subtitle' | translate }}</span></p>
            </a>
        </div>
    </div>
</header>
<div id="site-container" class="site-wrapper">
    <div class="wrapper-inner">

        <div ui-view></div>


        <div class="content-wrapper">
            <article class="article">
                <div class="row">
                    <div class="small-12">

                        <map ng-class="{'hidden': main.visibleContent != 'main'}"></map>

                    </div>
                </div>

                <!-- *********** START CONTENT PAGE SECTIONS *********** -->
                <!-- CONTENT: Impressum -->
                <section class="contentpage contentimpressum" ng-class="{'current': main.visibleContent == 'imprint'}">
                  <div class="nav-close">
                    <button
                            ng-click="main.showMain()"
                            class="button svg-icon btnCloseContent">
                        <svg class="icon icon-cross">
                            <use xlink:href="#icon-cross"></use>
                        </svg>
                    </button>
                    (<a ng-click="main.showMain()">Close</a>)
                  </div>
                  <div class="row">
                    <div class="columns small-12">
                      <h1>Impressum und Rechtliches</h1>
                      <p>An diesem Auszug sind beteiligt:</p>
                      <div class="partner-logo">
                        <div style="background-image:url('/assets/images/bund_wappen.png')"
                             class="logo-bund">

                           </div><p class="clearfix">{{"bundText" | translate}}</p>
                        <div style="background-image:url('/assets/images/kanton_be.png')"
                                  class="logo-kanton">

                        </div><p class="clearfix">{{"kantonText" | translate}}</p>

                       <div ng-if="main.extract.data.MunicipalityLogo" style="background-image:url('{{main.extract.data.MunicipalityLogo}}')"
                            class="logo-gemeinde">

                          </div><p class="clearfix">{{"detailCommunity" | translate}} {{main.extract.data.RealEstate.Municipality}}</p>
                       <div ng-if="!main.extract.data.MunicipalityLogo" style="background-image:url('/assets/images/gde_dummy.png')"
                                 class="logo-gemeinde">

                       </div><p ng-if="!main.extract.data.MunicipalityLogo" class="clearfix">{{"notification_noCommunity" | translate}}</p>
                      </div>
                      <h2>Impressum</h2>
                      <h3>Inhaltliche Verantwortung</h3>
                      <address>
                        Bau-, Verkehrs- und Energiedirektion des Kantons Bern
                      </address>
                      <h3>Usability</h3>
                        <address>
                          uFive
                        </address>
                      <h3>Gestaltung und Screendesign</h3>
                        <address>
                          Sturm und Bräm GmbH
                        </address>
                      <h3>Technische Realisierung</h3>
                      <address>
                        novu GmbH
                      </address>
                      <h2>Rechtliches</h2>
                      <p>Teile dieser Applikation unterliegen den folgenden Lizenzen</p>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Impressum -->
                <!-- CONTENT: Glossary -->
                <section class="contentpage contentglossary" ng-class="{'current': main.visibleContent == 'glossary'}">
                  <div class="row">
                    <div class="columns small-12">
                      <h1>{{"contentTitleGlossary" | translate}}  (<a ng-click="main.showMain()">Close</a>)</h1>
                      <!-- [bs][todo] Das Glossar kommt aus diesem XML-Node: Glossary:Title und muss entsprechend repetiert werden -->
                        <dl ng-repeat="element in main.extract.data.Glossary">
                            <dt>{{element.Title.LocalisedText.Text}}</dt>
                            <dd>{{element.Content.LocalisedText.Text}}</dd>
                        </dl>
                        <dl>
                            <dt>ÖREB-Kataster</dt>
                            <dd>Öffentlich-rechtliche Eigentumsbeschränkungen: siehe auch <a href="http://www.cadastre.ch" class="external-link">www.cadastre.ch</a></dd>
                        </dl>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Glossary -->
                <!-- CONTENT: Themenbereiche -->
                <section class="contentpage contentthemes" ng-class="{'current': main.visibleContent == 'themes'}">
                  <div class="row">
                    <div class="columns small-12">
                        Themenbereiche
                        (<a ng-click="main.showMain()">Close</a>)
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Themenbereiche -->
                <!-- CONTENT: Other content -->
                <section class="contentpage contentinfo" ng-class="{'current': main.visibleContent == 'other'}">
                  <div class="row">
                    <div class="columns small-12">
                      <h1>Was ist die ÖREB?</h1>
                      <p>Wer in der Schweiz Land besitzt, kann dieses nicht einfach so nutzen, wie er will. Es gilt Rahmenbedingungen einzuhalten, die aufgrund von Entscheidungen des Gesetzgebers oder der Behörden entstanden sind. Diese sogenannten öffentlich-rechtlichen Eigentumsbeschränkungen (kurz ÖREB) sind für Grundeigentümerinnen und Grundeigentümer verpflichtend.</p>
                      <p>Mit dem sich im Aufbau befindenden Kataster der öffentlich-rechtlichen Eigentumsbeschränkungen (ÖREB-Kataster) werden relevante Informationen über Grundstücke leicht verfügbar. Zudem wird die Rechtssicherheit dank verbindlicher Informationen erhöht. Davon profitieren sowohl Grundstückbesitzer, als auch die verschiedenen Akteure des Immobilienmarktes, Behörden und öffentliche Verwaltungen.</p>
                    </div>
                  </div>
                </section>
                <!-- END CONTENT: Other content -->
                <!-- *********** END CONTENT PAGE SECTIONS *********** -->
            </article>
            <footer class="footer"></footer>

            <loading></loading>
        </div>
    </div>
</div>
