<div class="notification-wrapper">
    <div ng-repeat="element in notifications.elements"  data-closable="scale-out-down fast" class="callout" ng-class="element.type">
        <p>{{element.message}}</p>
        <button type="button" role="button" aria-label="Schliessen" data-close
                class="button svg-icon notification-close">
            <svg class="icon icon-cross">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
        <button ng-repeat="button in element.buttons" type="button" role="button" aria-label="Ja" data-close
                ng-click="button.callback()" class="button svg-icon success notification-button hollow">
                {{button.label}}
        </button>
    </div>
</div>
