<div class="notification-wrapper">
    <div data-closable="scale-out-down fast" class="callout success">
        <p>Gespeicherte Auszüge wurden als Links in die Zwischenablage kopiert</p>
        <button type="button" role="button" aria-label="Schliessen" data-close
                class="button svg-icon notification-close">
            <svg class="icon icon-cross">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
    </div>
    <div data-closable="scale-out-down fast" class="callout warning">
        <p>Sollen alle vorhandenen Auszüge gelöscht werden?</p>
        <button type="button" role="button" aria-label="Schliessen" data-close
                class="button svg-icon notification-close">
            <svg class="icon icon-cross">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
        <button type="button" role="button" aria-label="Ja" data-close
                class="button svg-icon success notification-button hollow">Ja
        </button>
        <button type="button" role="button" aria-label="Nein" data-close
                class="button svg-icon alert notification-button hollow">Nein
        </button>
    </div>
    <div data-closable="scale-out-down fast" class="callout alert">
        <p>Es kann keine Datenverbindung hergestellt werden!</p>
        <button type="button" role="button" aria-label="Schliessen" data-close
                class="button svg-icon notification-close">
            <svg class="icon icon-cross">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>