<div class="row theme-key">
    <h3>{{"restrictionConcernedKey" | translate}}</h3>
</div>

<div ng-repeat="v in restriction.data.values | unique:'Information.LocalisedText.Text'" class="accordion-navigation">
    <div class="row restriction-info">
        <div class="small-2 oereb-label medium-1"><img class="legend-symbol" ng-src="{{v.Symbol}}" /></div>
        <div class="small-10 medium-7 oereb-value">{{v.Information.LocalisedText.Text}}</div>
        <div class="small-2 show-for-small-only"></div>
        <div ng-if="v.TypeCodelist == 'Polygon'" class="small-10 medium-4 oereb-area">{{v.Area}}m² ({{v.PartInPercent}}%)</div>
        <div ng-if="v.TypeCodelist == 'Polyline'" class="small-10 medium-4 oereb-area">{{v.Area}}m</div>
        <div ng-if="v.TypeCodelist == 'Point'" class="small-10 medium-4 oereb-area">{{v.Area}} Anzahl</div>
    </div>
</div>

<div class="row more-info">
    <div class="small-12">
        <svg class="icon icon-layers">
            <use xlink:href="#icon-layers"></use>
        </svg>
        <a class="external-link" target="_blank" href="{{restriction.data.values[0].Map.LegendAtWeb}}" title="{{'restrictionKeyDownload' | translate}}">{{"restrictionKeyDownload" | translate}} ({{restriction.data.name}})</a>
    </div>
</div>

<!-- TEST ONLY
<pre>
  {{restriction.data.values}}
</pre>
-->

<!-- LegalProvisions -->
<legal-list title="'restrictionLegalProvision'" documents="restriction.data.values" xsitype="'LegalProvisions'" entryicon="'icon-file'"></legal-list>

<!-- Documents -->
<legal-list title="'restrictionLegal'" documents="restriction.data.values" xsitype="'Document'" entryicon="'icon-open'"></legal-list>

<!-- References -->
<legal-list title="'restrictionReference'" documents="restriction.data.values" xsitype="'Reference'" entryicon="'icon-open'"></legal-list>


<div class="row">
    <h3 class="theme-heading">{{"restrictionAuthority" | translate}}</h3>
</div>
<div ng-repeat="v in restriction.data.values | unique:'ResponsibleOffice.Name.LocalisedText.Text'" class="row more-info pdf-list">
    <div class="small-12">
        <svg class="icon icon-open">
            <use xlink:href="#icon-open"></use>
        </svg>
        <a class="external-link" target="_blank" href="{{v.ResponsibleOffice.OfficeAtWeb}}" title="Link">{{v.ResponsibleOffice.Name.LocalisedText.Text}}</a>
    </div>
</div>
