<ul class="restriction-carousel" rn-carousel rn-carousel-control rn-carousel-index="slideIndex">
    <li ng-repeat="r in main.extract.restrictions">
        <h3 class="text-center slide-title">{{r.name}}</h3>
        <ul class="menu vertical theme-list">
            <li class="top-item">
                <div class="row">
                    <div class="small-6">
                        <p class="name">{{main.extract.data.RealEstate.Municipality}}

                            {{slideIndex}}
                            ({{main.extract.data.RealEstate.FosNr}})</p>
                        <p class="egrid">{{main.extract.egrid}}</p>
                    </div>
                    <div class="small-6 clearfix">
                        <div style="background-image:url('/assets/images/gde_bern.jpeg')"
                             class="logo-gemeinde"></div>
                        <div style="background-image:url('/assets/images/kanton_be.png')"
                             class="logo-kanton"></div>
                        <div style="background-image:url('/assets/images/bund_wappen.png')"
                             class="logo-bund"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12">
                        <p class="timestamp">15. März 2016 15:05:16</p>
                    </div>
                </div>
                <ul class="menu vertical nested">
                    <li>
                        <div class="row">
                            <div class="small-6 oereb-label">Grundstück-Nr:</div>
                            <div class="small-6 oereb-value">{{main.extract.data.RealEstate.Number}}</div>
                        </div>
                        <div class="row">
                            <div class="small-6 oereb-label">Fläche des Grundstücks:</div>
                            <div class="small-6 oereb-value">[nicht im Auszug]</div>
                        </div>
                        <div class="row">
                            <div class="small-6 oereb-label">EGRID:</div>
                            <div class="small-6 oereb-value">CH299978329106</div>
                        </div>
                        <div class="row">
                            <div class="small-6 oereb-label">Geneinde:</div>
                            <div class="small-6 oereb-value">Bern (841)</div>
                        </div>
                        <div class="row">
                            <div class="small-6 oereb-label">Auszugsnummer:</div>
                            <div class="small-6 oereb-value">eb78b1b7-57fc-4ba7-b133-839d43d76111
                            </div>
                        </div>
                        <div class="row more-info">
                            <div class="small-12">
                                <svg class="icon icon-file">
                                    <use xlink:href="#icon-file"></use>
                                </svg>
                                <a href="#" target="_blank" title="PDF herunterladen">Auszug als PDF herunterladen
                                    (PDF, 4MB)</a>
                            </div>
                        </div>
                        <div class="row more-info">
                            <div class="small-12">
                                <svg class="icon icon-map">
                                    <use xlink:href="#icon-map"></use>
                                </svg>
                                <a href="#" target="_blank" title="Karte im Geoportal">Grundstück im
                                    Kartenportal</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li><
                Typ (Fläche, Anteil)
                <ul class="menu vertical nested is-active">
                    <li>
                        <div class="row theme-key">
                            <h3>Legende</h3><img src="/assets/images/key/laerm_bsp.png"
                                                 alt="Legende zu den Lärmempflindlichkeitsstufen">
                        </div>
                        <div class="row">
                            <div class="small-6 oereb-label"> Charakteristik:</div>
                            <div class="small-6 oereb-value"> Lärmempfindlichkeitsstufe II (265m2)
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="accordion-navigation">
                Rechtsvorschriften
                <ul class="menu vertical nested">
                    <li>
                        <div class="row">
                            <div class="small-6 oereb-label">Rechtsstatus:</div>
                            <div class="small-6 oereb-value">Die Eigentumsbeschränkung ist in
                                Kraft
                            </div>
                        </div>
                        <div class="row pdf-list">
                            <svg class="icon">
                                <use xlink:href="#icon-file"></use>
                            </svg>
                            <a target="_blank" href="http://files.be.ch/bve/agi/oereb/94201/NPL61/204.pdf"
                               title="PDF">Zonenplan der Stadt Thun 1986 mit Bauordnung vom
                                30.09.1987</a>
                        </div>
                        <div class="row pdf-list">
                            <svg class="icon icon-file">
                                <use xlink:href="#icon-file"></use>
                            </svg>
                            <a target="_blank" href="http://files.be.ch/bve/agi/oereb/94201/NPL61/219.pdf"
                               title="PDF">Bauordnung 1986, Änderung Art. 40, Abs. 4 Zone für
                                militärische Bauten und Anlagen M vom 21.02.1994</a>
                        </div>
                        <div class="row pdf-list">
                            <svg class="icon icon-file">
                                <use xlink:href="#icon-file"></use>
                            </svg>
                            <a target="_blank" href="http://files.be.ch/bve/agi/oereb/94201/NPL61/233.pdf "
                               title="PDF">Plan der Lärmempfindlichkeitsstufen vom 28.09.2000 </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<button ng-click="slideIndex = slideIndex-1" ng-show="slideIndex > 0" id="themePrev" class="orbit-previous svg-icon">
    <svg class="icon icon-arrow-left">
        <use xlink:href="#icon-arrow-left"></use>
    </svg>
</button>
<button ng-click="slideIndex = slideIndex+1" id="themeNext" class="orbit-next svg-icon">
    <svg class="icon icon-arrow-right">
        <use xlink:href="#icon-arrow-right"></use>
    </svg>
</button>
<button class="button svg-icon restriction-toggler" ng-click="main.toggleRestriction = !main.toggleRestriction">
    <svg class="icon icon-arrow-up">
        <use xlink:href="#icon-arrow-up"></use>
    </svg>
</button>
<div class="row theme-bullets collapse">
    <div class="align-justify column">
        <nav class="orbit-bullets">
            <button data-slide="0"><span class="show-for-sr">Lärmempflindlichkeitsstufen (in Nutzungszonen)</span>
            </button>
            <button data-slide="1"><span class="show-for-sr">Zonenplan - Grundnutzungen</span>
            </button>
            <button data-slide="2"><span class="show-for-sr">Zonenplan - Überlagernde Nutzungsplaninhalt</span>
            </button>
        </nav>
    </div>
</div>
<input type="number" ng-model="slideIndex">
