<ul class="restriction-carousel" rn-carousel rn-carousel-control rn-carousel-index="restriction.slideIndex">
    <div  class="sticky-carousel-header">
      <h3 class="text-center slide-title">{{main.extract.data.ConcernedTheme[restriction.slideIndex].Name}}</h3>
    </div>

    <li class="restriction-container" ng-repeat="r in main.extract.restrictions">
        <!-- [bs][todo] Indicators für die Slides einbauen. Ich habe das von https://github.com/revolunet/angular-carousel eventuell habe ich es nicht richtig eingebaut -->
        <div class="slide-indicators" rn-carousel-indicators ng-if="slides.length > 1" slides="r in main.extract.restrictions" rn-carousel-index="carouselIndex"></div>

        <div class="row theme-key">
            <h3>{{"restrictionConcernedKey" | translate}}</h3>
        </div>
        <div ng-repeat="v in r.values" class="accordion-navigation">
          <div class="row restriction-info">
              <div class="small-1 oereb-label"><div class="legend-symbol" style="background-image:url('{{v.Symbol}}')"></div></div>
              <div class="small-11 medium-7 oereb-value">{{v.Information.LocalisedText.Text}}</div>
              <div class="small-1 show-for-small-only"></div>
              <div ng-if="v.TypeCodelist == 'Polygon'" class="small-11 medium-4 oereb-area">{{v.Area}}m² ({{v.PartInPercent}}%)</div>
              <div ng-if="v.TypeCodelist == 'Polyline'" class="small-11 medium-4 oereb-area">{{v.Area}}m</div>
              <div ng-if="v.TypeCodelist == 'Point'" class="small-11 medium-4 oereb-area">{{v.Area}} Anzahl</div>
          </div>
        </div>


        <!-- Legende als externer Link -->
        <div class="row more-info">
          <div class="small-12">
            <svg class="icon icon-layers">
                <use xlink:href="#icon-layers"></use>
            </svg>
            <a class="external-link" href="{{r.values[0].Map.LegendAtWeb}}" title="{{'restrictionKeyDownload' | translate}}">{{"restrictionKeyDownload" | translate}} ({{r.name}})</a>
          </div>
        </div>

        <div class="row">
          <h3 class="theme-heading">{{"restrictionLegalProvision" | translate }}</h3>
        </div>
        <div ng-repeat="v in r.values" class="accordion-navigation">
          <div ng-repeat="document in v.LegalProvisions | unique:'document.TextAtWeb.LocalisedText.Text'" class="row more-info pdf-list">

              <div class="small-12">
                <svg class="icon icon-file">
                  <use xlink:href="#icon-file"></use>
                </svg>
                <a class="external-link" target="_blank" href="{{document.TextAtWeb.LocalisedText.Text}}" title="PDF">{{document.OfficialTitle.LocalisedText.Text}}</a>
              </div>
          </div>
        </div>
        <div class="row">
          <h3 class="theme-heading">{{"restrictionAuthority" | translate}}</h3>
        </div>
        <div class="row more-info pdf-list">
          <div class="small-12">
            <svg class="icon icon-open">
              <use xlink:href="#icon-open"></use>
            </svg>
            <a class="external-link" target="_blank" href="{{r.values[0].LegalProvisions[0].ResponsibleOffice.Name.LocalisedText.Text}}" title="Link">{{r.values[0].LegalProvisions[0].ResponsibleOffice.Name.LocalisedText.Text}}</a>
          </div>
        </div>


    </li>
</ul>

<button ng-click="restriction.back()" ng-show="restriction.slideIndex > 0" id="themePrev" class="orbit-previous svg-icon">
    <svg class="icon icon-keyboard_arrow_left">
        <use xlink:href="#icon-keyboard_arrow_left"></use>
    </svg>
</button>
<button ng-click="restriction.next()" ng-show="restriction.slideIndex < main.extract.restrictionLength - 1"  id="themeNext" class="orbit-next svg-icon">
    <svg class="icon icon-keyboard_arrow_right">
        <use xlink:href="#icon-keyboard_arrow_right"></use>
    </svg>
</button>
<button class="button svg-icon restriction-toggler" ng-click="main.toggleRestriction = !main.toggleRestriction">
    <svg class="icon icon-keyboard_arrow_up">
        <use xlink:href="#icon-keyboard_arrow_up"></use>
    </svg>
</button>
