/**
[BS]
Restriction Styles
[todo] Eventuell gibt diese modulare Aufteilung Probleme bei dem Setzen der Breakpoints. Breakpoint-Handling dann innerhalb der SCSS-Module vornehmen und mit Breakpoint-Variabeln arbeiten.

**/

// Start orbit
.pulse {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10000;
  position: absolute;
  top: calc(100vh - 60px);

  // Animation
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  @include castShadowTop;


  // All buttons in the pulse
  .button {


    // Defaults for restriction toggler
    &.restriction-toggler {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: calc(50% - 1em);
      @include transform(translate(-50%, 50%));
      @include transform(scale(2));
      transition-duration:0.5s;
    }
  }
  .orbit-next, .orbit-previous {
    width:40px;
    height:40px;
    @include rounded(50%);
    @include button_svg();
    left:10px;
    background-color:rgba($colorDarkGrey,0.5);
  }
  .orbit-next {
    right:10px;
    left:auto;
  }

  // Header title
  .slide-title {
    margin:2rem 0em 1em 0em;
    line-height:$fontLineHeightBase;
    color:$colorWhite;
    @include fontNormal();
  }

  // Carousel
  .restriction-carousel {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding-bottom:2rem;
    background-color: $colorMenuTop;

    .restriction-container {
      overflow: scroll;
      padding:1em 1em 7rem 1em;
      color:$colorWhite;

      h3 {
        margin:0px 0px 10px 0px;
        color:$colorWhite;
        @include fontNormal;
        font-size:$fontSizeBase * 1.2;

        &.theme-heading {
          margin-top:2em;
        }
      }

      .row {
        &.restriction-info {
          line-height:$fontLineHeightBase;
          padding-bottom:0.5em;
          padding-top:0.5em;
          cursor:default;
          .oereb-label {
            padding-right:10px;
            font-weight:bold;
          }

          .legend-symbol {
            width:26px;
            height:26px;
            background-size: cover;
            background-repeat: no-repeat;
            border:1px solid $colorWhite;
          }


          .oereb-value {


          }
          .oerea-area {
            padding-top:5px;
          }
        }
      }

    }

    .theme-list {
      margin-left:0px;
      .top-item {
        background-color: $colorMenuTop;
      }
      > li {
        padding-left:1em;
        padding-right:1em;
        &:last-child {
          padding-bottom:2rem;
        }
      }
      ul {
        margin-left:0px;
      }
    }

    .more-info {
      margin-top:2em;
      line-height: $fontLineHeightBase;

      .icon {
        height:32px;
        cursor:default;
        width:32px;
        display:inline-block;
        float:left;
        padding-right:10px;
      }
      @include menuLinks();

      a {
        margin:0 !important;
        padding:0 !important;
        color:$colorWhite;
      }
      .external-link {
        vertical-align:top;
        padding:0;
        width:auto;
        display: inline;
        line-height: $fontLineHeightBase - 30%;
        font-size:$fontSizeBase * 1;
      }

    }

    // PDFs
    .pdf-list {
      padding-top:1em;
      margin:0;
      .icon {
        height:$fontSizeBase * 1;
        margin-right:5px;
        fill:$colorContent;
      }
      a {
        padding:0;
        display:block;
        width:80%;
        @include dontBreakOut;
        font-size:$fontSizeBase * 1;
      }
    }
  }

  // Start open pulse
  &.opened {
    top: 50vh;
    .restriction-toggler {
      // rotate the arrow 180


      @include transform(rotate(180deg) scale(1.5));
      transition-duration: 1s;
    }


  }
  // end open pulse
}
// End orbit
