@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-background-primary: 45, 54, 62;
    --color-text-primary: 255, 255, 255;

    --color-background-secondary: 203, 211, 219;
    --color-text-secondary: 45, 54, 62;

    --color-background-accent: 255, 255, 255;
    --color-text-accent: 203, 0, 14;
    --color-background-accent-dark: 203, 0, 14;

    --color-text-decent: 94, 114, 135;

    --color-background-base: 254, 254, 254;
    --color-text-base: 45, 54, 62;

    --color-background-active: 94, 114, 135;
    --color-text-active: 255, 255, 255;

    --color-border-primary: 94, 114, 135;
    --color-border-secondary: 187, 187, 187;

    --color-background-thirdly: 228, 233, 237;

    --ratio-municipality-banner: calc(70 / 50);

    --col-dark: #5e7287;
    --col-white: #FFF;
    --col-success: #46A447;
    --col-success-dark: #286E2A;
    --col-alert: #C31924;
    --col-alert-dark: #991614;
    --col-warning: #DA9E1A;
    --col-warning-dark: #966D15;
  }
}


body {
  @apply antialiased;
}

/* Notifications Toastify */
.Toastify__toast {
  border-radius: 0 !important;
  box-shadow: none;
  color: var(--col-white) !important;
  background-color: var(--col-dark);
  border-left: 15px solid var(--col-success-dark);

  & .Toastify__toast-icon {
    display: none;
  }

  &.Toastify__toast--success {
    background-color: var(--col-success);
    border-left: 15px solid var(--col-success-dark);
  }

  &.Toastify__toast--error {
    border-left: 15px solid var(--col-alert-dark);
    background-color: var(--col-alert);
  }

  &.Toastify__toast--warning {
    border-left: 15px solid var(--col-warning-dark);
    background-color: var(--col-warning);
  }

  & button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--col-white) !important;
  }
}

/* accordion style */
.accordion-item {
  @apply border-t border-theme-primary;

  & > .accordion-item__header {
    @apply px-4 py-3 w-full text-left bg-theme-secondary flex items-center transition-all duration-200 relative pr-[42px] md:pr-[46px] 3xl:pr-[50px];

    &::after,
    &::before {
      @apply block absolute right-0 top-1/2 transition-all duration-200 mr-[16px] w-[10px] md:w-[14px] 3xl:w-[18px];
      content: '';
      height: 1px;
      background-color: currentColor;
      transform-origin: 50% 50%;
      will-change: transform;
    }

    &::before {
      transform: rotate(-90deg);
    }

    &:hover {
      color: currentColor;
      @apply bg-theme-active text-theme-active;
    }
  }

  & > .accordion-item__wraper {
    @apply bg-theme-base border-l-4 border-l-theme-primary;
  }

  &.expanded {
    @apply bg-theme-active border-theme-secondary;

    & > .accordion-item__header {
      @apply pl-5 bg-theme-active text-theme-active;

      &::after {
        transform: rotate(90deg);
        opacity: 0;
      }
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  &.decent {
    & > .accordion-item__wraper, & > .accordion-item__header {
      @apply opacity-60;
    }
  }

  & .accordion-item {
    @apply border-l;

    & > .accordion-item__header {
      @apply bg-theme-thirdly;

      &:hover {
        @apply bg-theme-active text-theme-active;
      }
    }

    &.expanded {
      & > .accordion-item__header {
        @apply bg-theme-active;
      }
    }
  }
}
