<div id="map" class="map" ngeo-map="map.map"></div>

<div class="infobox" id="infobox">
    <div class="oereb-marker">
        <img src="assets/images/oereb_marker.svg" alt="Markiertes Grundstück" />
    </div>

    <div ng-if="infoboxLoading">
        {{'infobox_loading' | translate}}
    </div>

    <div ng-if="!infoboxLoading">
        <strong>{{ 'infobox_property' | translate }}</strong>

        <div ng-if="map.egrids.length == 0">{{'no_propery_found' | translate}}</div>
        <ul>
            <li ng-repeat="ele in map.selectedPoint">
              <!-- [bs][todo] zusätzlich noch die grundstückart angeben, wenn irgendwie möglich -->
                <span class="clickable" href="#" ui-sref-active="active" ui-sref="home.detail({egrid: ele.egrid, restriction: 'none'})">{{'infobox_plot' | translate}} {{ele.number}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="map-nav" ngeo-recenter ngeo-recenter-map="::map.map">
    <button class="button svg-icon btnSearch" ng-click="map.toggleSearch()">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>

    <search></search>

    <button class="button svg-icon btnGetLocation" ngeo-mobile-geolocation="map.map"
            ngeo-mobile-geolocation-map="map.map"
            ngeo-mobile-geolocation-options="map.mobileGeolocationOptions"
            ng-click="map.getLocation()">
        <svg class="icon icon-location-2">
            <use xlink:href="#icon-location-2"></use>
        </svg>
    </button>
    <button ng-click="map.zoomIn()" class="button svg-icon btnZoomIn hide-for-small-only">
        <svg class="icon icon-plus">
            <use xlink:href="#icon-plus"></use>
        </svg>
    </button>
    <button ng-click="map.zoomOut()" type="button" class="button svg-icon btnZoomOut hide-for-small-only">
        <svg class="icon icon-minus">
            <use xlink:href="#icon-minus"></use>
        </svg>
    </button>
    <button class="button svg-icon btnMapAerial" ng-click="map.showLayer('orthoPhoto')" ng-if="map.activeLayer != 'orthoPhoto'">
        <svg class="icon icon-aerial">
            <use xlink:href="#icon-aerial"></use>
        </svg>
    </button>
    <button class="button svg-icon btnMapOrtho" ng-click="map.showLayer('greyMap')" ng-if="map.activeLayer != 'greyMap'">
        <svg class="icon icon-map">
            <use xlink:href="#icon-map"></use>
        </svg>
    </button>
</div>
