<div id="map" class="map" ngeo-map="map.map"></div>



<div class="infobox" id="infobox">
    <div class="oereb-marker">
        <img src="assets/images/oereb_marker.svg" alt="Markiertes Grundstück" />
    </div>

    <div ng-if="infoboxLoading">
        Loading
    </div>

    <div ng-if="!infoboxLoading">
        <strong>Grundstücke</strong>

        <div ng-if="map.egrids.length == 0">Kein Resultat</div>
        <ul>
            <li ng-repeat="ele in map.selectedPoint">
              <!-- [bs][todo] zusätzlich noch die grundstückart angeben, wenn irgendwie möglich -->
                <span class="clickable" href="#" ui-sref="home.detail({egrid: ele.egrid, restriction: null})">{{ele.egrid}} ({{ele.number}})</span>
            </li>
        </ul>
    </div>
</div>

<div class="map-nav" ngeo-recenter ngeo-recenter-map="::map.map" ng-show="!main.isDetailMode">
    <button class="button svg-icon btnSearch" ng-click="map.searchDialog = !map.searchDialog">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>
    <div ng-show="map.searchDialog" class="search-input search-open">
        <input type="text" class="typeahead searchbox" sf-typeahead datasets="map.places" ng-model="map.search">
    </div>
    <button class="button svg-icon btnGetLocation" ngeo-mobile-geolocation="map.map"
            ngeo-mobile-geolocation-map="map.map"
            ngeo-mobile-geolocation-options="map.mobileGeolocationOptions">
        <svg class="icon icon-location-2">
            <use xlink:href="#icon-location-2"></use>
        </svg>
    </button>
    <button ng-click="map.zoomIn()" class="button svg-icon btnZoomIn hide-for-small-only">
        <svg class="icon icon-plus">
            <use xlink:href="#icon-plus"></use>
        </svg>
    </button>
    <button ng-click="map.zoomOut()" type="button" class="button svg-icon btnZoomOut hide-for-small-only">
        <svg class="icon icon-minus">
            <use xlink:href="#icon-minus"></use>
        </svg>
    </button>
    <button class="button svg-icon btnMapAerial" ng-click="map.showLayer('aerial')" ng-show="!map.isLayerActive('aerial')">
        <svg class="icon icon-aerial">
            <use xlink:href="#icon-aerial"></use>
        </svg>
    </button>
    <button class="button svg-icon btnMapOrtho" ng-click="map.showLayer('ortho')" ng-show="!map.isLayerActive('ortho')">
        <svg class="icon icon-map">
            <use xlink:href="#icon-map"></use>
        </svg>
    </button>
    <button class="button svg-icon btnMapAerial" ng-click="main.toggleMode()">
        <svg class="icon icon-aerial">
            Zeige Detail
        </svg>
    </button>
</div>


<div class="map-nav detail-nav" ng-show="main.isDetailMode">
    <button class="button svg-icon btnMapAerial" ng-click="main.toggleMode()" ng-show="main.isDetailMode">
        <svg class="icon icon-aerial">
            Zeige Karte
        </svg>
    </button>
</div>

