.infobox {
  position: absolute;
  background-color: rgba(45, 54, 62, 0.7);
  color: white;

  padding: 1.2rem;

  min-width: 14rem;
  max-width: 90%;

  a {
    color: white;
  }

  li {
    list-style: none;
    margin: 0;
    margin-left: -2rem;
    font-size: 0.9rem;
  }

  address {
    border-bottom: 1px solid white;
    font-style: normal;
    font-weight: bold;
  }
}