<aside id="menuLeftSlider" class="position-left" ng-class="{'active-menu': main.menuStatus}" ng-swipe-left="main.swipeLeft()">

    <nav id="mainNav" class="mainnav mobile clearfix">


        <div class="menu vertical">
          <div class="row intro-row">
            <div class="small-12">
                <div ng-class="{'hidden' : !detail.noDatas}">
                    <strong>{{'no_property_yet_title' | translate}}</strong>
                    <br />{{'no_property_yet_text' | translate}}
                </div>

                <h1 ng-class="{'hidden': detail.noDatas}">{{"propertyLoaded" | translate}}: {{main.extract.data.RealEstate.Number}} {{"detailConcernedThemes2" | translate}} {{main.extract.data.RealEstate.Municipality}}
                  <span ng-if="main.extract.data.RealEstate.SubunitOfLandRegister && main.extract.data.RealEstate.Municipality != main.extract.data.RealEstate.SubunitOfLandRegister">, {{main.extract.data.RealEstate.SubunitOfLandRegister}}</span>
            </h1>
              <p ng-class="{'hidden': detail.noDatas}" class="info-date">{{main.extract.data.CreationDate | date:'dd.MM.yyyy HH:mm:ss'}}</p>
              <div class="pdf-download" ng-class="{'hidden': detail.noDatas}">

                  <div class="small-12">
                      <svg class="icon icon-file">
                          <use xlink:href="#icon-file"></use>
                      </svg>
                      <a class="external-link"
                         target="_blank"
                         ng-href="{{detail.getPDFLink(main.extract.egrid)}}"
                         title='{{"detailDownloadPDF" | translate}}'>{{"detailDownloadPDF" | translate}}</a>
                  </div>
                  <div class="small-12">
                      <svg class="icon icon-map">
                          <use xlink:href="#icon-map"></use>
                      </svg>
                      <a class="external-link" target="_blank" ng-href="{{detail.getExternURL(main.extract.egrid)}}" title="{{'detailPropertyGISMap' | translate}}">{{"detailPropertyGISMap" | translate}}</a>
                  </div>

                  <div class="small-12">
                      <svg class="icon icon-inbox">
                          <use xlink:href="#icon-inbox"></use>
                      </svg>

                    <a class="external-link" target="_blank" href="" ng-click="detail.copyUrlToClipboard()">{{"detailCopyLink" | translate}}</a>

                  </div>

              </div>
            </div>
          </div>


            <v-accordion class="vAccordion--default" ng-click="main.showMain()" ng-if="!detail.noDatas" control="accordion" oncollapse="detail.collapse(index, null)" onexpand="detail.expand(index, id)">


                <!-- Restrictions, but if no restrictions found, the entire v-pane will be greyed out -->
                <v-pane expanded class="restrictions" id="toogleExpand">  
                    <v-pane-header><wrapper ng-if="main.extract.restrictions.length == 0" class="norestrictions_found">
                        {{"detailConcernedThemes1" | translate}}
                        <span class="secondary badge">0</span> 
                    </wrapper>
                    <wrapper ng-if="main.extract.restrictions.length > 0">
                        {{"detailConcernedThemes1" | translate}}<span class="secondary badge">{{main.extract.themes.length}}</span> 
                    </wrapper>
                    </v-pane-header>

                    <v-pane-content>

                        <!-- neither restrictions nor themes -->
                        <div ng-if="main.extract.restrictions.length == 0" class="norestrictions_found">
                            <div class="no-restrictions">{{"noRestrictions" | translate}}</div>
                        </div>

                        <!-- if restrictions -->
                        <v-accordion ng-show="main.extract.restrictions.length > 0" control="accordion" oncollapse="detail.collapse(index, id)" onexpand="detail.expand(index, id)">

                            <v-pane ng-repeat="restriction in main.extract.restrictions  | filter: detail.showInList track by $index" id="{{ restriction.code }}--{{ restriction.hasChildren }}">
                                <v-pane-header>
                                    {{ restriction.name }}
                                </v-pane-header>

                                <v-pane-content>

                                    <div ng-if="restriction.hasChildren" class="may-has-children">

                                        <v-accordion ng-if="main.extract.restrictions.length > 0" oncollapse="detail.collapse(index, id)" onexpand="detail.expand(index, id)">

                                            <v-pane ng-repeat="subRestriction in main.extract.restrictions | filter:{parent:restriction.name} track by $index" id="{{ subRestriction.code }}--{{ subRestriction.hasChildren }}">

                                                <v-pane-header>
                                                    {{ subRestriction.name }}
                                                </v-pane-header>

                                                <v-pane-content>
                                                    <restriction data="subRestriction"></restriction>
                                                </v-pane-content>

                                            </v-pane>

                                        </v-accordion>

                                    </div>

                                    <div ng-if="!restriction.hasChildren" class="may-has-children">
                                        <restriction data="restriction"></restriction>
                                    </div>

                                </v-pane-content>
                            </v-pane>

                        </v-accordion>




                    </v-pane-content>
                </v-pane>
                <!-- / Restrictions -->


                <!-- NoRestrictions -->
                <v-pane class="norestrictions">
                    <v-pane-header>
                        {{"detailNoRestrictions" | translate}}<span class="secondary badge">{{main.extract.ncthemes.length}}</span>
                    </v-pane-header>

                    <v-pane-content>
                        <!-- nested accordion -->
                        <ul>
                            <li ng-repeat="theme in main.extract.ncthemes track by $index">
                                {{ theme.Name }}
                            </li>
                        </ul>
                    </v-pane-content>
                </v-pane>
                <!-- / NoRestrictions -->

                <!-- Missing Restrictions -->
                <v-pane class="missingrestrictions">
                    <v-pane-header>
                        {{"detailMissingRestrictions" | translate}}<span class="secondary badge">{{main.extract.wdthemes.length}}</span>
                    </v-pane-header>

                    <v-pane-content>
                        <!-- nested accordion -->
                        <ul>
                            <li ng-repeat="theme in main.extract.wdthemes track by $index">
                                {{ theme.Name }}
                            </li>
                        </ul>
                    </v-pane-content>
                </v-pane>
                <!-- / Missing Restrictions -->

                <!-- General Information -->
                <v-pane class="generalinformation">
                    <v-pane-header>
                        {{"propertyDetail" | translate}} {{main.extract.data.RealEstate.Number}}
                    </v-pane-header>

                    <v-pane-content>


                        <div class="row property-info">
                            <div class="medium-4 oereb-label">{{"detailRealEstateNr" | translate}}</div>
                            <div class="medium-1"></div>
                            <div class="medium-7 oereb-value">{{main.extract.data.RealEstate.Number}}</div>
                        </div>
                        <div class="row property-info">
                            <div class="medium-4 oereb-label">{{"detailEGRID" | translate}}</div>
                            <div class="medium-1"></div>
                            <div class="medium-7 oereb-value">{{main.extract.egrid}}</div>
                        </div>
                        <div class="row property-info">
                            <div class="medium-4 oereb-label">{{"detailCommunityBFS" | translate}}</div>
                            <div class="medium-1"></div>
                            <div class="medium-7 oereb-value">{{main.extract.data.RealEstate.Municipality}}
                                ({{main.extract.data.RealEstate.FosNr}})
                            </div>
                        </div>

                        <div ng-if="main.extract.data.RealEstate.SubunitOfLandRegister" class="row property-info">
                            <div class="medium-4 oereb-label">{{"detailSubUnitOfLandRegister" | translate}}</div>
                            <div class="medium-1"></div>
                            <div class="medium-7 oereb-value">{{main.extract.data.RealEstate.SubunitOfLandRegister}}</div>
                        </div>

                        <div class="row property-info">
                            <div class="medium-4 oereb-label">{{"detailRealEstateArea" | translate}}</div>
                            <div class="medium-1"></div>
                            <div class="medium-7 oereb-value">{{main.extract.data.RealEstate.LandRegistryArea}}
                                m<sup>2</sup></div>
                        </div>



                    </v-pane-content>
                </v-pane>
                <!-- / General Information -->

                <!-- History 
                 This will be shown if ther is actual data loaded (!detail.noDatas)
                -->
                <v-pane class="history">
                    <v-pane-header>
                         {{"detailPropertyHistory" | translate}}<span class="secondary badge">{{main.history.length}}</span> 
                    </v-pane-header>

                    <v-pane-content class="history-item">
                        <!-- nested accordion -->
                        <ul>
                            <li ng-repeat="hextract in main.history track by $index">
                                <a ui-sref="home.detail({egrid: hextract.egrid, restriction: ''})"
                                   title="{{'detailLinkRealEstate' | translate}} {{hextract.data.RealEstate.Number}}, {{'detailCommunity' | translate}} {{hextract.data.RealEstate.Municipality}}, {{'detailSubUnitOfLandRegister' | translate}}: {{hextract.data.RealEstate.SubunitOfLandRegister}}">
                                    <div ng-style="{'background-image': 'url(' + hextract.data.MunicipalityLogo + ')'}" class="logo-gemeinde"></div>
                                    {{'detailLinkRealEstate' | translate}} {{hextract.data.RealEstate.Number}}, {{'detailCommunity' | translate}} {{hextract.data.RealEstate.Municipality}} ({{hextract.data.RealEstate.FosNr}})<span ng-if="hextract.data.RealEstate.SubunitOfLandRegister">, {{"detailSubUnitOfLandRegister" | translate}}: {{hextract.data.RealEstate.SubunitOfLandRegister}}</span>
                                    <span class="history-date">
                                        {{main.extract.data.CreationDate | date:'dd.MM.yyyy HH:mm:ss'}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- copy to clipboard -->
                    </v-pane-content>
                </v-pane>
                <!-- / History -->


            </v-accordion>
            <v-accordion class="vAccordion--default" ng-click="main.showMain()" ng-if="detail.noDatas" control="accordion" oncollapse="detail.collapse(index, null)" onexpand="detail.expand(index, id)">
                <!-- History 
                This will be shown if no data is loaded (detail.noDatas)
                -->
                <v-pane class="history">
                    <v-pane-header>
                        {{"detailPropertyHistory" | translate}}<span class="secondary badge">{{main.history.length}}</span> 
                    </v-pane-header>

                    <v-pane-content class="history-item">
                        <!-- nested accordion -->
                        <ul>
                            <li ng-repeat="hextract in main.history track by $index">
                                <a ui-sref="home.detail({egrid: hextract.egrid, restriction: ''})"
                                title="{{'detailLinkRealEstate' | translate}} {{hextract.data.RealEstate.Number}}, {{'detailCommunity' | translate}} {{hextract.data.RealEstate.Municipality}}, {{'detailSubUnitOfLandRegister' | translate}}: {{hextract.data.RealEstate.SubunitOfLandRegister}}">
                                    <div ng-style="{'background-image': 'url(' + hextract.data.MunicipalityLogo + ')'}" class="logo-gemeinde"></div>
                                    {{'detailLinkRealEstate' | translate}} {{hextract.data.RealEstate.Number}}, {{'detailCommunity' | translate}} {{hextract.data.RealEstate.Municipality}} ({{hextract.data.RealEstate.FosNr}})<span ng-if="hextract.data.RealEstate.SubunitOfLandRegister">, {{"detailSubUnitOfLandRegister" | translate}}: {{hextract.data.RealEstate.SubunitOfLandRegister}}</span>
                                    <span class="history-date">
                                        {{main.extract.data.CreationDate | date:'dd.MM.yyyy HH:mm:ss'}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- copy to clipboard -->
                    </v-pane-content>
                </v-pane>
                <!-- / History -->
            </v-accordion>


            <ul class="contentLinks">
                <li ng-if="!detail.noDatas" ng-click="main.showGlossary()">{{'contentTitleGlossary' | translate}}</li>
                <li ng-click="main.showImprint()">{{'titleImprint' | translate}}</li>
            </ul>

        </div>

        <div class="row top-menu">
              <div class="small-12 lang-selector">
                  <svg class="icon icon-globe">
                      <use xlink:href="#icon-globe"></use>
                  </svg>
  
                  <!-- Language-Switch
                  You can delete or add new languages by inserting the following snippet:
  
                  <span ng-click="main.changeLanguage('it')">
                    <a ng-click="main.changeLanguage('it')" title="Version italiano"
                         ng-class="{'is-active': main.isCurrentLanguage('it')}">Italiano</a>
                  </span>
                 -->
  
                  <span ng-click="main.changeLanguage('de')">
                      <a title="Deutsche Version" ng-class="{'is-active': main.isCurrentLanguage('de')}">Deutsch</a>
                  </span>
                  <span>
                      <a ng-click="main.changeLanguage('fr')" title="Version française"
                         ng-class="{'is-active': main.isCurrentLanguage('fr')}">Français</a>
                  </span>
              </div>
              <div class="small-8">
            </div>
          </div>

    </nav>
</aside>
