<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">ÖREB</h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li ui-sref-active="active"><a ui-sref='main.home'>Home</a></li>
        <li ui-sref-active="active"><a ui-sref='main.detail'>Detail</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div ui-view></div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>